:root {
  --fs-text-xs: 0.75rem; /* 12px */
  --fs-text-sm: 0.875rem; /* 14px */
  --fs-text-base: 1rem; /* 16px */
  --fs-text-lg: 1.125rem; /* 18px */
  --fs-text-xl: 1.25rem; /* 20px */
  --fs-text-2xl: 1.5rem; /* 24px */
  --fs-text-3xl: 1.875rem; /* 30px */
  --fs-text-4xl: 2.25rem; /* 36px */

  --fs-leading-tight: 1.25;
  --fs-leading-snug: 1.4;
  --fs-leading-normal: 1.6;
  --fs-leading-relaxed: 1.75;

  --fs-weight-normal: 400;
  --fs-weight-medium: 500;
  --fs-weight-semibold: 600;
  --fs-weight-bold: 700;
}
